body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
    ), url('../images/background_login_pict.png');
    background-size: auto; 
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

/* .main::before {
    content: "";
    background-image: url(../images/background_login_pict.png);
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
} */

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border: .2rem solid gray;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #cccccc33;
    width: 30rem;
    padding: 2rem 1rem;
}

.input-login {
    font-size: 1.4rem;
    padding: 0.3rem;
    border: .1rem solid gray;
    background-color: white;
    border-radius: .5rem;
    height: 3rem;
    width: 90%;
}

.button-login{
    font-size: 1.5rem;
    padding: .7rem;
    border: .3rem solid white;
    border-radius: .8rem;
    background-color: #667a28;
    color: white;
    width: 60%;
    cursor: pointer;
}

