html { 
    scroll-behavior: smooth; 
}

body {
    background-color: #fffafa;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.div-background-picture {
    background-image: url(../images/header_pict.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    height: 25rem;
    opacity: .95;
    border-bottom: .3rem solid lightgray;
}

.nav-menu {
    background-color: #52690c44;
    position: sticky;
    top: 0;
    z-index: 100;
}

.hidden-nav-menu { 
    background-color: #52690c;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav-menu-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu-item {
    padding: 1.3rem 0;
}

.nav-menu-link {
    padding: 1.3rem;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #f1d095;
}

.div-right-btn {
    position: absolute;
    top: .8rem;
    right: 1rem;
    font-size: 1.2rem;
    color: white;
}

.button-enter {
    background-color: #52690c22;
    border: .14rem solid white;
    border-radius: .8rem;
    color: white;
    font-size: 1.1rem;
    text-transform: uppercase;
    height: 2.5rem;
    width: 8rem;
    cursor: pointer;
} 

.enter-btn:hover {
    border: .14rem solid #f1d095;
    color: #f1d095;
} 

.div-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.div-header-title {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 2px 2px 5px #3b5005;
    color: white;
    margin-bottom: 1rem;
}

.div-header-title-name {
    font-family: "Great Vibes", cursive;
    font-size: 8rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px #3b5005;
}

.div-header-title-user {
    font-size: 2rem;
    font-weight: normal;
    color: white;
    text-shadow: 2px 2px 5px #3b5005;
    margin-top: .6rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    border: .1rem solid lightgray;
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;
    width: 70vw;
    scroll-margin-top: 5rem;
}

.div-promo-birthday-sertificate {
    border: .1rem solid lightgray;
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;
    width: 70vw;
    font-size: 2rem;
    font-weight: 400;
    color: grey;
    margin: 1rem;
    text-align: center;
}

.section-birthday {
    background-image: url(../images/birthday_pict.png);
    background-position: top;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    border: .2rem solid red;
    border-radius: 3rem;
    padding: 1rem;
    background-color: white;
    height: 25rem;
    width: 70vw;
    cursor: pointer;
}

.tooltip-text {
    background-color: #fab1b1;
    border: .1rem solid red;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    text-align: center;
    border-radius: 2rem;
    padding-top: 1.5rem;
    position: relative;
    bottom: 107%;
    z-index: 1;
    width: 40%;
    height: 15%;
    opacity: 0;
    transition: opacity 0.6s;
    visibility: hidden;
}
.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -.6rem;
    border-width: .6rem;
    border-style: solid;
    border-color: red transparent transparent transparent;
}

.section-birthday:hover .tooltip-text {
    visibility: visible;
    opacity: .8;
}

.div-promo-birthday {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Great Vibes", cursive;
    font-size: 8rem;
    font-weight: bold;
    color: gold;
    text-shadow: 1px 2px 15px #9e0606;  
    height: 45%;
    width: 100%;
}

.div-promo-discont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 80%;
    font-size: 1.5rem;
    color: red;
    text-align: center;
}

.div-discont-percent {
    font-size: 8rem;
    font-weight: bold;
    color: gold;
    text-shadow: 1px 2px 15px #9e0606;
    margin: 0;
}

.div-discont-title {
    font-size:3rem;
    font-weight: bold;
    color: gold;
    text-shadow: 1px 2px 10px #9e0606;  
}

.div-promo-newuser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gold;
    border-radius: 1rem;
    padding: 1rem;
    gap: 1rem;
    width: 97%;
    height: 100%;
    margin-bottom: 1rem;
}

.div-promo-newuser-title {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    color: white; 
}

.div-promo-newuser-counter {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: red; 
}

.div-main-title {
    text-align: center;
    font-size: 2rem;
    color: gray;
    margin-bottom: 1rem;
}

.div-promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem
}

.div-promo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border: .4rem solid red;
    border-radius: 2rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: bold;
    color: red;
    width: 80%;
}

.div-promo-time {
    display: flex;
    align-items: center;
    justify-content: center;
    border: .2rem solid green;
    border-radius: 2rem;
    height: 5rem;
    font-size: 2rem;
    color: green;
    width: 70%;
}

.div-cards-services {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    width: 85%;
}

.div-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    width: 29%;
    border: .1rem solid gray;
    border-radius: 2rem;
    box-shadow: 0 .1rem .2rem #00000031;
    padding: .7rem;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
}

.div-card:hover {
    box-shadow: 0 .1rem .7rem #00000088;
}

.img-serveces {
    border-radius: 1rem;
    opacity: .8;
    margin-bottom: .5rem;
    width: 80%;
}

.div-card:hover > .img-serveces {
    opacity: 1;
}

.description {
    font-size: .9rem;
}

.form-subscribe {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: .7rem;
    padding: 1.2rem;
    width: 50%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.input-subscribe {
    font-size: 1.4rem;
    padding: 0.3rem;
    border: .1rem solid gray;
    background-color: white;
    border-radius: .5rem;
    height: 3rem;
    width: 90%;
    text-align: center;
}

.button-subscribe{
    font-size: 1.5rem;
    padding: .7rem;
    border: .3rem solid white;
    border-radius: .8rem;
    background-color: #667a28;
    color: white;
    width: 50%;
    cursor: pointer;
}

.div-pictures {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.img-salon {
    border-radius: 1rem;
    width: 30%;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: .2rem solid lightgray;
    background-color: #52690c22;
    height: 10rem;
}

.footer-ul-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-ul-link {
    padding: 1.3rem;
    text-decoration: none;
    color: darkgray;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-ul-item {
    padding: 1rem;
}

.footer-ul-link:hover {
    color: #f1d095;
}

.footer-ul-social-list {
    display: flex;
    justify-content: left;
    list-style: none;
    margin: .8rem 0 0 0;
    padding: 0;
}

.footer-ul-social-link {
    padding: .5rem;
}