body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
    ), url('../images/background_login_pict.png');
    background-size: auto; 
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* .main::before {
    content: "";
    background-image: url(../images/background_login_pict.png);
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
} */

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: .2rem solid gray;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #cccccc55;
    width: 30rem;
    padding: 2rem 1rem;
}

.input-login {
    font-size: 1.4rem;
    border: .1rem solid gray;
    background-color: white;
    border-radius: .5rem;
    height: 3rem;
    width: 90%;
    text-align: center;
    
}
.input-login:focus {
    outline: none;
}

.button-login {
    font-size: 1.5rem;
    padding: .7rem;
    border-radius: .8rem;
    background-color: #667a28;
    color: white;
    width: 60%;
    cursor: pointer;
}

.button-login:hover {
    color: #f1d095;
}

.div-wrap {
    display: flex;
    align-items: center;
    height: 5rem;
}

.div-auth-error {
    font-size: 1.3rem;
    color: red;
}

.div-wrap-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}